body{
    background: rgba(70,50,80,0.5);
    background-image: url("../img/fondo3.jpg");
    color : white;
}

#titulo{
  text-align: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-size: 50px;
}

#tituloAlertas{
  position: absolute;
  top: 900px;
  left: 350px;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-size: 50px;
}

#alerts{
    /*display: inline;*/
    display: flex;
    position: absolute;
  top: 1000px;
}

#alerts div.informe{
    width: 350px;
    margin: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius:5%;
    vertical-align: center;
    color: black;
    
}

#alerts h3{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#alerts p:last-child{
   text-decoration: underline;
}

#mostrar{
  width : 100%;
  background : rgba(180, 80, 20, 0.8);
  color : white;
  font-size: 20px;
  padding : 5px;
  border : none;
}

/********************************************************/

#mapid {
    background: #CCC;
    position: absolute;
    top: 185px;
    bottom: 0px;
    left: 0;
    width: 600px;
    height: 650px;
    border-radius: 5% ;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
  
  #right {
    position: absolute;
  
    top: 0px;
    right: 0px;
    bottom: 0px;
  
    width: 25%;
  }
  
  #states {
    margin: 7px 15px;
    position: absolute;
    top:100px;
    left: 650px;
    z-index: -9999;
  }

  #info{
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 50px;
    border-radius:5%;
    float: right;
    position: relative;
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;
}